<%- include ('../components/head') %> 
<div class="d-flex flex-center flex-column">
    <h1 class="title fredoka">Dat was het!</h1>
    <div class="spacer"></div>
    <div class="spacer"></div>
    <h2>Dit was jouw score:</h2>
    <div class="spacer"></div>
    <div class="score-container">
        <span><%- score %></span>
    </div>
</div>

<%- include('../components/scripts') %>
<%- include('../components/foot') %>